@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu .list-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    list-style: none;
    margin: 20px 25px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.item:hover{
    background-color: #fff;
    color: black;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

a {
    text-decoration: none;
}


.genesis {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.header {
    background: url("/Asset/background.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
   
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

.guitar1 {
    height: 240px;
    width: 240px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin: 15px;
}

.para1 .para2{
  display: inline;
}

section {
    margin: 30px;
}

hr {
    border: 0.005rem solid grey;
}

/* ................................FOOTER.................................... */

.footer {
    background-color: rgb(98, 98, 238);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.foot {
    color: #fff;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0 30px;
}

.link {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.list {
    list-style: none;
    padding: 15px 30px;
    
    
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}











